# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist
dist-preview

# API Keys
.env

# PWA module Service workers
sw.*

.DS_Store

# Local Netlify folder
.netlify
