// Colors
$colors: ( text: #303030, lightText: #808080, links: #292833, hover: #322833, footerBackground: #141414, footerText: #dfdfdf, body: #f5f5f5, border: #ccc, headerBackground: rgba(0, 0, 0, 1));
// Breakpoints
$mq-breakpoints: ( tiny: 320px, small: 450px, medium: 525px, large: 667px, xlarge: 960px, xxlarge: 1400px);
// Sizes
$sizes: (headerHeight: 40px, footerHeight: 100px, bottomPadding: 80px);
$colourData: ( alt1: #a41b36, alt2: #a47c5b, alt3: #d6c2bd, alt4: #5c4838, alt5: #d4766f, alt6: #724129);
