@import '~normalize.css/normalize';
@import '_typography.scss';
@import '_variables.scss';

html {
  background: map-get($colors, body);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus {
  outline: none !important;
  outline-color: transparent !important;
  outline-style: none !important;
}

body {
  background: map-get($colors, body);
  margin: 0;
  padding: 0;
}
