@import '~normalize.css/normalize';
@import '_typography.scss';
@import '_variables.scss';

html {
  background: map-get($colors, body);
  color: map-get($colors, text);
  font-family: $body-font;
  font-size: 16px;
  word-spacing: 1px;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus {
  outline: none !important;
  outline-color: transparent !important;
  outline-style: none !important;
}

body {
  background: map-get($colors, body);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 300;
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0.5rem 0 0.75rem 0;
}

p {
  font-size: 0.875rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: map-get($colors, links);
  text-decoration: none;
}

a:hover {
  color: map-get($colors, hover);
  text-decoration: none;
}

//$mq-breakpoints
@media screen and (max-width: map-get($mq-breakpoints, large)) {
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: map-get($mq-breakpoints, small)) {
  h1 {
    font-size: 1.6rem;
  }
}
